<?xml version="1.0"?>

<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net"/>
    </configSections>
    
    <log4net>
        <root>
            <appender-ref ref="RollingFileAppender"/>
        </root>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="E:\BusForU\LogFile\LogFile.txt" />
            <param name="AppendToFile" value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="5" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date - %message%newline" />
            </layout>
        </appender>
        <logger name="Test">
            <level value="DEBUG"/>
        </logger>
    </log4net>

    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" maxQueryStringLength="10240" enable="true"/>
        <pages>
            <controls>
                <add tagPrefix="BusForU" tagName="CommonHeader" src="~\UserControl\CommonHeader.ascx"/>
                <add tagPrefix="BusForU" tagName="AdminHeader" src="~\UserControl\AdminHeader.ascx"/>
                <add tagPrefix="BusForU" tagName="CustomerHeader" src="~\UserControl\CustomerHeader.ascx"/>
                <add tagPrefix="BusForU" tagName="CommonFooter" src="~\UserControl\CommonFooter.ascx"/>
            </controls>
        </pages>
    </system.web>

    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="10240"/>
            </requestFiltering>
        </security>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <appSettings>
        <add key="log4net.Config" value="log4net.config"/>
        <add key="log4net.Config.Watch" value="True"/>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
    </appSettings>

    <connectionStrings>
        <!--<add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Friends;Persist Security Info=True;User ID=sa;Password=sa123;"/>-->
    </connectionStrings>

</configuration>
